<% cache @shortlink do %>

  <div class="container-lg">

    <h1 class="text-center mb-3 display-2">
      Details
    </h1>

    <div class="card">
      <div class="card-body">

        <p>
          <b>Shortened Link:</b>
          <a href="<%= @shortlink.shortcut_url %>" target="_blank" data-external>
            <%= @shortlink.shortcut_url %>
          </a>
        </p>

        <p>
          <b>Target Link:</b>
          <a href="<%= @shortlink.url %>" target="_blank" data-external>
            <%= @shortlink.url %>
          </a>
        </p>



      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <div class="card">

          <div class="card-body">

            <h4 class="card-title">
              Created At
            </h4>

            <p>
              <%= @shortlink.created_at %>
            </p>

          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">

          <div class="card-body">

            <h4 class="card-title">
              Number of clicks
            </h4>

            <p>
              <%= @shortlink.clicks %>
            </p>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">

          <div class="card-body">

            <div class="d-flex justify-content-between mb-1">

              <h4 class="card-title mb-1">
                QR Code
              </h4>

              <a class="btn btn-primary" id="qr-code-download" download data-internal style="display: none;">
                <i data-feather='download-cloud'></i> Download
              </a>

            </div>

            <canvas id="qr-code" class="w-100"></canvas>

          </div>
        </div>
      </div>

    </div>

  </div>

  <script defer>
    $(function () {
        const downloadButton = $('#qr-code-download');
        const qr = new QRious({
            element: document.getElementById('qr-code'),
            value: '<%= @shortlink.shortcut_url %>',
            size: 400,
            level: 'Q' //https://blog.qrstuff.com/2011/12/14/qr-code-error-correction
        });

        downloadButton.attr('href', qr.toDataURL());
        downloadButton.show();
    });
  </script>

<% end %>